{% extends 'blog/index.html' %}
{% block title %}
    登录
{% endblock %}
{% block content %}
    <!-- 表单 begin -->
    <form action="#" method="post" class="text-center">
        {% csrf_token %}
        <table style="margin: 50px auto;">
            <h1>登录</h1>
            {{ form }}
            <tr>
                <td></td>
                <td><img id="checkCode" src="{% url 'blog:get_code' %}" style="width: 50%;"></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="remember">记住密码</td>
                <td><a href="{% url 'blog:register' %}">立即注册</a></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="登录" id="sub"></td>
            </tr>
        </table>
    </form>
    <!-- 表单 end -->
{% endblock %}
{% block script %}
    <script>
        var oCheckCode = document.getElementById('checkCode');
        var checkCodeUrl = oCheckCode.src;
        oCheckCode.onclick = function () {
            this.src = checkCodeUrl + '?t=' + Math.random();
        }
    </script>
{% endblock %}